{% extends 'base.html' %}
{% block add_employee %}
<div class="container m-2">
  <div class="card">
  <form class="p-2 ps-5 pe-5" action="{% url 'add_employee' %}" method='post'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input name="email" type="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input name="address" type="text" class="form-control" id="address" required>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">phone</label>
      <input name="phone" type="text" class="form-control" id="phone" required>
    </div>
    <button type="submit" class="btn btn-primary content-justufy-center">Insert</button>
  </form>
</div>
</div>
{% endblock %}